{% load compress static wagtailuserbar %}<!DOCTYPE html>
<html lang="en">
  <head>
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/fairintranet.scss' %}">
    {% endcompress %}

    {% block extra_css %}
        
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}


    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ request.site.root_page.url }}">{{ request.site.root_page.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for page in request.site.root_page.get_children.in_menu %}
            {% if not page == request.site.root_page %}
            <li{% if page == self %} class="active"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">

      {% block content %}{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/javascripts/bootstrap.min.js' %}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/fairintranet.js' %}"></script>
    {% endcompress %}
    {% block extra_js %}{% endblock %}
    </body>
</html>
