#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
URL=http://localhost:81/wikipedia_en_all_07_2014/
Name=Wikipedia
Comment=Click here to open Wikipedia
Icon=/usr/share/icons/Humanity/actions/48/go-jump.svg
