{% extends "core/home_page.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailmarkdown %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

  <div class="row">
  <div class="col-md-9">

    {% block collection_content %}

      <h1>{{ self.title }}</h1>
      
      <div class="description">
      {{ self.description|markdown }}
      </div>
      
      <table class="table table-striped">
      {% for child in self.get_external_collections %}
        <tr>
        <td style="vertical-align: top; width: 1px; text-align: center; padding-right: 20px;">
          {% if child.icon %}
            {% image child.icon fill-200x200 as icon_img %}
            <img src="{{ icon_img.url }}" class="img-responsive img-thumbnail" alt="Icon" />
          {% else %}
            <div class="img-thumbnail">
              <span class="fa fa-{{ child.icon_predefined }}" style="font-size: 150px; margin: 0 6px; width: 188px;"></span>
            </div>
          {% endif %}
        </td>
        <td style="vertical-align: top;">
          <h3>{{ child.title }}</h3>
          <p>License: {{ child.license|default:"Unknown"}}, Retrieved: {{ child.retrieved|default:"Unknown" }}</p>
          <p>{{ child.caption }}</p>
          <p>
            <a href="{% url 'download_external_collection' child.pk %}">Go to collection <span class="fa fa-arrow-right"></span></a>
          </p>
        </td>
      {% endfor %}

      {% for child in self.get_non_external_collections %}
        <tr>
        <td style="vertical-align: top; width: 1px; text-align: center; padding-right: 20px;">
          {% if child.icon %}
            {% image child.icon fill-200x200 as icon_img %}
            <img src="{{ icon_img.url }}" class="img-responsive img-thumbnail" alt="Icon" />
          {% else %}
            <div class="img-thumbnail">
              <span class="fa fa-folder-open" style="font-size: 200px; margin: 0 6px;"></span>
            </div>
          {% endif %}
        </td>
        <td style="vertical-align: top;">
          <h3>{{ child.title }}</h3>
          <p>License: {{ child.license|default:"Unknown"}}</p>
          <p>{{ child.caption }}</p>
          <p>
            <a href="{{ child.url }}">Open <span class="fa fa-arrow-right"></span></a>
          </p>
        </td>
      {% endfor %}

      {% for child in self.get_ebooks %}
        <tr>
        <td style="vertical-align: middle; width: 1px; text-align: center; padding-right: 20px;">
          {% if child.thumbnail %}
            {% image child.thumbnail fill-200x200 as icon_img %}
            <img src="{{ icon_img.url }}" class="img-responsive img-thumbnail" alt="Icon" />
          {% else %}
          <div class="img-thumbnail">
            <span class="fa fa-book" style="font-size: 200px; margin: 0 6px;"></span>
          </div>
          {% endif %}
        </td>
        <td style="vertical-align: top;">
          <h3>{{ child.title }}</h3>
          <p>Published/written by: {{ child.author|default:"Unknown"}}, Country: {{ child.country|default:"Unknown" }}</p>
          <p>{{ child.caption }}</p>
          <p>
            <a href="{{ child.url }}">Go to ebook page <span class="fa fa-arrow-right"></span></a>
          </p>
        </td>
      {% endfor %}

      {% for child in self.get_movies %}
        <tr>
        <td style="vertical-align: top; width: 1px; text-align: center; padding-right: 20px;">
          {% if child.thumbnail %}
            {% image child.thumbnail fill-200x200 as icon_img %}
            <img src="{{ icon_img.url }}" class="img-responsive img-thumbnail" alt="Icon" />
          {% else %}
            <div class="img-thumbnail">
              <span class="fa fa-video-camera" style="font-size: 200px; margin: 0 6px;"></span>
            </div>
          {% endif %}
        </td>
        <td style="vertical-align: top;">
          <h3>{{ child.title }}</h3>
          <p>Directed by: {{ child.author|default:"Unknown"}}, Duration: {{ child.duration|default:"Unknown" }}</p>
          <p>{{ child.short_description }}</p>
          <p>
            <a href="{{ child.url }}">Go to movie page <span class="fa fa-arrow-right"></span></a>
          </p>
        </td>
      {% endfor %}


      </table>
    {% endblock %}
    
  </div>
  <div class="col-md-3 collection-sidebar">
    {% block collection_sidebar %}
    {% endblock %}
    {% if self.icon %}
    {% image self.icon width-300 as icon_img %}
    <div class="big-icon">
      <img src="{{ icon_img.url }}" class="img-responsive img-thumbnail" alt="Icon" />
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">Info</div>
      <div class="panel-body">
        {% if self.duration %}
        <p>
          Duration: {{ self.duration }}
        </p>
        {% endif %}
        {% if self.author %}
        <p>
          Director: {{ self.author }}
        </p>
        {% endif %}
        {% if self.retrieved %}
          <p>Retrieved: {{ self.retrieved.year }}</p>
        {% endif %}
        {% if self.country %}
          <p>Country: {{ self.country }}</p>
        {% endif %}
        {% if self.license %}
          <p>License: {{ self.license }}</p>
        {% endif %}
      </div>
    </div>
    
    <a href="{{ self.get_parent.url }}" class="">
      <span class="fa fa-arrow-left"></span> Back to {{ self.get_parent.title }}
    </a>
    
  </div>
  </div>
{% endblock %}
