$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         darken(#BF2A18, 6.5%); // #337ab7
$brand-success:         #89D250;
$brand-info:            #9AD869;
$brand-warning:         #f0ad4e;
$brand-danger:          #DA7265;

$navbar-default-bg:     #89D250;
$navbar-default-link-color:  #EEE;
$navbar-default-link-hover-color: #FFF;
$navbar-default-link-active-color: #FFF;

$font-family-sans-serif:  'Liberation Sans', Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-size-base:  16px;

@font-face {
    font-family: Futurist;
    src: url('forgottr.ttf');
}

$headings-font-family:  Purisa;

$icon-font-path: '/static/bootstrap/fonts/bootstrap/';
$fa-font-path: '../font-awesome/fonts/font-awesome/';

@import '../bootstrap/stylesheets/bootstrap';
@import '../font-awesome/stylesheets/font-awesome';

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collection-button
{
    border-radius: 10px;
    padding: 20px;
    background: darken($brand-info, 10%);
    display: block;
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    font-family: Purisa;
    text-align: center;
    .caption {
        text-align: left;
        font-size: 16px;
        margin-top: 8px;
    }
    .fa {
        text-align: center;
        display: block;
        font-size: 100px;
    }
}
.collection-button:hover {
    color: #FFF;
    background: darken($brand-info, 10%);
    text-decoration: none;
}

.big-icon {
    margin: 15px 0;
}

td h1,
td h2,
td h3,
td h4
{
    margin-top: 5px;
}