{% extends "core/home_page.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

  <div class="row">
  <div class="col-md-9">
    {% block collection_content %}
    <h1>{{ self.title }}</h1>
    {{ self.body|default:""|richtext }}
    
    <table>
    {% for child in self.get_movies %}
      <tr>
      <td style="vertical-align: top; width: 1px; text-align: center; padding-right: 20px;">
        {% if child.thumbnail %}
          {% image child.thumbnail fill-200x200 as icon_img %}
          <img src="{{ icon_img.url }}" class="img-responsive img-thumbnail" alt="Icon" />
        {% else %}
          <span class="fa fa-video-camera" style="font-size: 100px"></span>
        {% endif %}
      </td>
      <td style="vertical-align: top;">
        <h3>{{ child.title }}</h3>
        <p>Directed by: {{ child.author|default:"Unknown"}}, Duration: {{ child.duration|default:"Unknown" }}</p>
        <p>{{ child.short_description }}</p>
        <p>
          <a href="{{ child.url }}">Go to movie page <span class="fa fa-arrow-right"></span></a>
        </p>
      </td>
    {% endfor %}
    </table>
    {% endblock %}
    
  </div>
  <div class="col-md-3">
    {% block collection_sidebar %}
    {% endblock %}
    {% if self.icon %}
    {% image self.icon width-300 as icon_img %}
    <div class="big-icon">
      <img src="{{ icon_img.url }}" class="img-responsive img-thumbnail" alt="Icon" />
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">Info</div>
      <div class="panel-body">
        {% if self.duration %}
        <p>
          Duration: {{ self.duration }}
        </p>
        {% endif %}
        {% if self.author %}
        <p>
          Director: {{ self.author }}
        </p>
        {% endif %}
        {% if self.resource_link %}
        <p>
          Location: <a href="{{ self.resource_link }}">{{ self.resource_link }}</a>
        </p>
        {% endif %}
        {% if self.retrieved %}
          <p>Retrieved: {{ self.retrieved.year }}</p>
        {% endif %}
        {% if self.license %}
          <p>License: {{ self.license }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}
